<launch>
    <arg name="input_image_topic" default="camera/color/image_raw"/>

    <include file="$(find pamaral_object_grasping_pattern_recognition)/launch/mediapipe_processing.launch">
        <arg name="input_image_topic" value="$(arg input_image_topic)"/>
    </include>

    <include file="$(find pamaral_object_grasping_pattern_recognition)/launch/keypoints_preprocessing.launch"/>

    <include file="$(find pamaral_object_grasping_pattern_recognition)/launch/object_classifier.launch"/>
</launch>