<launch>
    <!-- MediaPipe Camera - Orbbec Astra Pro behind the robot -->
    <include file="$(find larcc_antecipative_object_handover)/launch/usb_cam.launch">
        <arg name="camera_name" value="mediapipe_camera"/>
        <arg name="image_view" value="false"/>
        <arg name="video_device" value="/dev/video0"/>
    </include>

    <!-- Object Recognition Pipeline - Image to Label -->
    <include file="$(find pamaral_object_grasping_pattern_recognition)/launch/object_recognition_pipeline.launch">
        <arg name="input_image_topic" value="mediapipe_camera/color/image_raw"/>
    </include>

    <!-- Visualization -->
    <node name="data_visualization" pkg="pamaral_object_grasping_pattern_recognition" type="data_visualization.py" output="screen">
        <param name="input_image_topic" value="mediapipe_camera/color/image_raw"/>
    </node>

    <!-- Test -->
    <!-- <node name="test_node" pkg="pamaral_object_grasping_pattern_recognition" type="object_recognition_pipeline_test.py" output="screen"/> -->

    <!-- RViz -->
    <node name="rviz" pkg="rviz" type="rviz"
          args="--display-config $(find pamaral_object_grasping_pattern_recognition)/config/rviz.rviz" required="false"/>
</launch>